# 临时文件
__pycache__
.vscode
config.yml
device.json
session.token
go-cqhttp.exe
emoticon.json
test.py
output.wav
ffmpeg
chatgpt

# 模型文件
*.pth
st_model

# 隐私文件
config.ini

# 日志
cqLogs
data
download
logs
memory

# 生成文件与二进制

**/**/*.exe
/qqbot/go-cqhttp.bat

# 个性化文件

/presets/**/**/*.txt
!/presets/character/大学生.txt
!/presets/character/大学生记忆.txt
!/presets/character/模板.txt
